In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as snb

In [2]:
df_x = pd.read_csv("data_X.csv")

In [3]:
df_y = pd.read_csv("data_Y.csv")
df_y

                 date_time  quality
0      2015-01-04 00:05:00      392
1      2015-01-04 01:05:00      384
2      2015-01-04 02:05:00      393
3      2015-01-04 03:05:00      399
4      2015-01-04 04:05:00      400
...                    ...      ...
29179  2018-05-03 19:05:00      438
29180  2018-05-03 20:05:00      452
29181  2018-05-03 21:05:00      455
29182  2018-05-03 22:05:00      455
29183  2018-05-03 23:05:00      454

[29184 rows x 2 columns]

In [4]:
df_x["date_time"]=pd.to_datetime(df_x["date_time"])
df_x["date_hour"] = df_x["date_time"].apply(lambda x: x.strftime("%d-%m-%Y-%H-%M"))
df_x["date"] = df_x["date_time"].apply(lambda x: x.strftime("%Y-%m-%d"))

In [5]:
df_y['date_time'] = pd.to_datetime(df_y["date_time"])
df_y["date_hour"] = df_y["date_time"].apply(lambda df_y: df_y.strftime("%d-%m-%Y-%H-%M"))

In [6]:
df_data = pd.merge(df_x,df_y,on='date_hour')

In [7]:
df_data

,date_time_x,T_data_1_1,T_data_1_2,T_data_1_3,T_data_2_1,T_data_2_2,T_data_2_3,T_data_3_1,T_data_3_2,T_data_3_3,...,T_data_4_3,T_data_5_1,T_data_5_2,T_data_5_3,H_data,AH_data,date_hour,date,date_time_y,quality
0,2015-01-04 00:05:00,277,326,273,322,335,352,505,501,670,...,337,231,236,242,153.77,7.90,04-01-2015-00-05,2015-01-04,2015-01-04 00:05:00,392
1,2015-01-04 01:05:00,277,253,272,320,333,355,500,501,687,...,335,234,242,230,158.27,6.96,04-01-2015-01-05,2015-01-04,2015-01-04 01:05:00,384
2,2015-01-04 02:05:00,262,218,260,326,336,330,505,499,443,...,332,243,251,240,153.36,7.29,04-01-2015-02-05,2015-01-04,2015-01-04 02:05:00,393
3,2015-01-04 03:05:00,243,238,252,327,329,308,520,498,540,...,334,257,258,246,153.21,7.11,04-01-2015-03-05,2015-01-04,2015-01-04 03:05:00,399
4,2015-01-04 04:05:00,236,238,245,323,320,318,522,501,524,...,344,264,263,265,195.71,7.97,04-01-2015-04-05,2015-01-04,2015-01-04 04:05:00,400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29179,2018-05-03 19:05:00,257,258,266,379,381,358,449,386,461,...,349,234,254,252,157.47,7.33,03-05-2018-19-05,2018-05-03,2018-05-03 19:05:00,438
29180,2018-05-03 20:05:00,259,255,260,372,367,362,431,461,453,...,348,235,253,247,157.17,7.87,03-05-2018-20-05,2018-05-03,2018-05-03 20:05:00,452
29181,2018-05-03 21:05:00,260,254,263,364,349,352,429,425,446,...,345,256,257,247,155.00,7.65,03-05-2018-21-05,2018-05-03,2018-05-03 21:05:00,455
29182,2018-05-03 22:05:00,255,255,260,356,352,354,438,468,441,...,344,254,265,248,153.89,8.90,03-05-2018-22-05,2018-05-03,2018-05-03 22:05:00,455
29183,2018-05-03 23:05:00,254,257,256,349,350,355,451,454,439,...,331,255,266,245,157.46,6.39,03-05-2018-23-05,2018-05-03,2018-05-03 23:05:00,454

In [9]:
df_x = df_data.drop(['date_time_x','date_hour','date','date_time_y','quality'],axis=1)
df_y = df_data['quality']

In [11]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [12]:
scaler.fit(df_x)

MinMaxScaler()

In [13]:
df_x_upd = scaler.transform(df_x)

In [15]:
from sklearn.model_selection import train_test_split
df_xtrain,df_xtest,df_ytrain,df_ytest = train_test_split(df_x_upd,df_y,test_size=0.25,random_state=42)

In [16]:
import tensorflow as tf

In [33]:

def create_model1(layers,activation1,activation2,epochs=5):
    model1 = tf.keras.Sequential()

    model1.add(tf.keras.layers.Dense(layers,activation=activation1))
    model1.add(tf.keras.layers.Dense(15,activation = activation2))
    model1.add(tf.keras.layers.Dense(1))
    model1.compile(loss='mae',optimizer='Adam',metrics=['accuracy','mae'])
    model1.fit(df_xtrain,df_ytrain,epochs=epochs,validation_data=(df_xtest,df_ytest))
    return model1

In [34]:
test1 = create_model1(15,'relu','relu',50)

Epoch 1/50
684/684 [==============================] - 1s 1ms/step - loss: 226.4485 - accuracy: 0.0000e+00 - mae: 226.4485 - val_loss: 38.8929 - val_accuracy: 0.0000e+00 - val_mae: 38.8929
Epoch 2/50
684/684 [==============================] - 1s 1ms/step - loss: 38.6292 - accuracy: 0.0000e+00 - mae: 38.6292 - val_loss: 38.4694 - val_accuracy: 0.0000e+00 - val_mae: 38.4694
Epoch 3/50
684/684 [==============================] - 1s 1ms/step - loss: 38.1375 - accuracy: 0.0000e+00 - mae: 38.1375 - val_loss: 37.9620 - val_accuracy: 0.0000e+00 - val_mae: 37.9620
Epoch 4/50
684/684 [==============================] - 1s 1ms/step - loss: 37.5510 - accuracy: 0.0000e+00 - mae: 37.5510 - val_loss: 37.2888 - val_accuracy: 0.0000e+00 - val_mae: 37.2888
Epoch 5/50
684/684 [==============================] - 1s 1ms/step - loss: 36.8973 - accuracy: 0.0000e+00 - mae: 36.8973 - val_loss: 36.6660 - val_accuracy: 0.0000e+00 - val_mae: 36.6660
Epoch 6/50
684/684 [==============================] - 1s 1ms/step - loss: 36.1236 - accuracy: 0.0000e+00 - mae: 36.1236 - val_loss: 35.8638 - val_accuracy: 0.0000e+00 - val_mae: 35.8638
Epoch 7/50
684/684 [==============================] - 1s 1ms/step - loss: 35.2972 - accuracy: 0.0000e+00 - mae: 35.2972 - val_loss: 34.9282 - val_accuracy: 0.0000e+00 - val_mae: 34.9282
Epoch 8/50
684/684 [==============================] - 1s 1ms/step - loss: 34.3912 - accuracy: 0.0000e+00 - mae: 34.3912 - val_loss: 33.9440 - val_accuracy: 0.0000e+00 - val_mae: 33.9440
Epoch 9/50
684/684 [==============================] - 1s 1ms/step - loss: 33.3895 - accuracy: 0.0000e+00 - mae: 33.3895 - val_loss: 32.8903 - val_accuracy: 0.0000e+00 - val_mae: 32.8903
Epoch 10/50
684/684 [==============================] - 1s 1ms/step - loss: 32.2322 - accuracy: 0.0000e+00 - mae: 32.2322 - val_loss: 31.6074 - val_accuracy: 0.0000e+00 - val_mae: 31.6074
Epoch 11/50
684/684 [==============================] - 1s 1ms/step - loss: 30.9369 - accuracy: 0.0000e+00 - mae: 30.9369 - val_loss: 30.2653 - val_accuracy: 0.0000e+00 - val_mae: 30.2653
Epoch 12/50
684/684 [==============================] - 1s 1ms/step - loss: 29.4392 - accuracy: 0.0000e+00 - mae: 29.4392 - val_loss: 30.0751 - val_accuracy: 0.0000e+00 - val_mae: 30.0751
Epoch 13/50
684/684 [==============================] - 1s 1ms/step - loss: 27.9246 - accuracy: 0.0000e+00 - mae: 27.9246 - val_loss: 27.4562 - val_accuracy: 0.0000e+00 - val_mae: 27.4562
Epoch 14/50
684/684 [==============================] - 1s 1ms/step - loss: 26.3098 - accuracy: 0.0000e+00 - mae: 26.3098 - val_loss: 25.3841 - val_accuracy: 0.0000e+00 - val_mae: 25.3841
Epoch 15/50
684/684 [==============================] - 1s 1ms/step - loss: 24.6642 - accuracy: 0.0000e+00 - mae: 24.6642 - val_loss: 23.7517 - val_accuracy: 0.0000e+00 - val_mae: 23.7517
Epoch 16/50
684/684 [==============================] - 1s 1ms/step - loss: 23.1984 - accuracy: 0.0000e+00 - mae: 23.1984 - val_loss: 22.3450 - val_accuracy: 0.0000e+00 - val_mae: 22.3450
Epoch 17/50
684/684 [==============================] - 1s 1ms/step - loss: 21.9364 - accuracy: 0.0000e+00 - mae: 21.9364 - val_loss: 21.2838 - val_accuracy: 0.0000e+00 - val_mae: 21.2838
Epoch 18/50
684/684 [==============================] - 1s 1ms/step - loss: 20.9822 - accuracy: 0.0000e+00 - mae: 20.9822 - val_loss: 21.1965 - val_accuracy: 0.0000e+00 - val_mae: 21.1965
Epoch 19/50
684/684 [==============================] - 1s 1ms/step - loss: 20.2611 - accuracy: 0.0000e+00 - mae: 20.2611 - val_loss: 19.8886 - val_accuracy: 0.0000e+00 - val_mae: 19.8886
Epoch 20/50
684/684 [==============================] - 1s 1ms/step - loss: 19.7162 - accuracy: 0.0000e+00 - mae: 19.7162 - val_loss: 19.4767 - val_accuracy: 0.0000e+00 - val_mae: 19.4767
Epoch 21/50
684/684 [==============================] - 1s 1ms/step - loss: 19.2994 - accuracy: 0.0000e+00 - mae: 19.2994 - val_loss: 19.3085 - val_accuracy: 0.0000e+00 - val_mae: 19.3085
Epoch 22/50
684/684 [==============================] - 1s 1ms/step - loss: 19.0113 - accuracy: 0.0000e+00 - mae: 19.0113 - val_loss: 18.7942 - val_accuracy: 0.0000e+00 - val_mae: 18.7942
Epoch 23/50
684/684 [==============================] - 1s 1ms/step - loss: 18.7042 - accuracy: 0.0000e+00 - mae: 18.7042 - val_loss: 18.7728 - val_accuracy: 0.0000e+00 - val_mae: 18.7728
Epoch 24/50
684/684 [==============================] - 1s 1ms/step - loss: 18.5185 - accuracy: 0.0000e+00 - mae: 18.5185 - val_loss: 18.4029 - val_accuracy: 0.0000e+00 - val_mae: 18.4029
Epoch 25/50
684/684 [==============================] - 1s 1ms/step - loss: 18.3182 - accuracy: 0.0000e+00 - mae: 18.3182 - val_loss: 18.3295 - val_accuracy: 0.0000e+00 - val_mae: 18.3295
Epoch 26/50
684/684 [==============================] - 1s 1ms/step - loss: 18.1513 - accuracy: 0.0000e+00 - mae: 18.1513 - val_loss: 18.0756 - val_accuracy: 0.0000e+00 - val_mae: 18.0756
Epoch 27/50
684/684 [==============================] - 1s 1ms/step - loss: 18.0314 - accuracy: 0.0000e+00 - mae: 18.0314 - val_loss: 18.0377 - val_accuracy: 0.0000e+00 - val_mae: 18.0377
Epoch 28/50
684/684 [==============================] - 1s 1ms/step - loss: 17.8465 - accuracy: 0.0000e+00 - mae: 17.8465 - val_loss: 17.9306 - val_accuracy: 0.0000e+00 - val_mae: 17.9306
Epoch 29/50
684/684 [==============================] - 1s 1ms/step - loss: 17.7591 - accuracy: 0.0000e+00 - mae: 17.7591 - val_loss: 17.6790 - val_accuracy: 0.0000e+00 - val_mae: 17.6790
Epoch 30/50
684/684 [==============================] - 1s 1ms/step - loss: 17.5719 - accuracy: 0.0000e+00 - mae: 17.5719 - val_loss: 17.6794 - val_accuracy: 0.0000e+00 - val_mae: 17.6794
Epoch 31/50
684/684 [==============================] - 1s 1ms/step - loss: 17.4666 - accuracy: 0.0000e+00 - mae: 17.4666 - val_loss: 17.5506 - val_accuracy: 0.0000e+00 - val_mae: 17.5506
Epoch 32/50
684/684 [==============================] - 1s 1ms/step - loss: 17.3626 - accuracy: 0.0000e+00 - mae: 17.3626 - val_loss: 17.3670 - val_accuracy: 0.0000e+00 - val_mae: 17.3670
Epoch 33/50
684/684 [==============================] - 1s 1ms/step - loss: 17.2289 - accuracy: 0.0000e+00 - mae: 17.2289 - val_loss: 17.3228 - val_accuracy: 0.0000e+00 - val_mae: 17.3228
Epoch 34/50
684/684 [==============================] - 1s 1ms/step - loss: 17.1271 - accuracy: 0.0000e+00 - mae: 17.1271 - val_loss: 17.1320 - val_accuracy: 0.0000e+00 - val_mae: 17.1320
Epoch 35/50
684/684 [==============================] - 1s 1ms/step - loss: 17.0424 - accuracy: 0.0000e+00 - mae: 17.0424 - val_loss: 17.0687 - val_accuracy: 0.0000e+00 - val_mae: 17.0687
Epoch 36/50
684/684 [==============================] - 1s 1ms/step - loss: 16.9204 - accuracy: 0.0000e+00 - mae: 16.9204 - val_loss: 16.9800 - val_accuracy: 0.0000e+00 - val_mae: 16.9800
Epoch 37/50
684/684 [==============================] - 1s 1ms/step - loss: 16.8219 - accuracy: 0.0000e+00 - mae: 16.8219 - val_loss: 16.9479 - val_accuracy: 0.0000e+00 - val_mae: 16.9479
Epoch 38/50
684/684 [==============================] - 1s 1ms/step - loss: 16.7477 - accuracy: 0.0000e+00 - mae: 16.7477 - val_loss: 16.7805 - val_accuracy: 0.0000e+00 - val_mae: 16.7805
Epoch 39/50
684/684 [==============================] - 1s 1ms/step - loss: 16.6454 - accuracy: 0.0000e+00 - mae: 16.6454 - val_loss: 16.6822 - val_accuracy: 0.0000e+00 - val_mae: 16.6822
Epoch 40/50
684/684 [==============================] - 1s 1ms/step - loss: 16.5528 - accuracy: 0.0000e+00 - mae: 16.5528 - val_loss: 16.5947 - val_accuracy: 0.0000e+00 - val_mae: 16.5947
Epoch 41/50
684/684 [==============================] - 1s 1ms/step - loss: 16.4607 - accuracy: 0.0000e+00 - mae: 16.4607 - val_loss: 17.1774 - val_accuracy: 0.0000e+00 - val_mae: 17.1774
Epoch 42/50
684/684 [==============================] - 1s 1ms/step - loss: 16.4464 - accuracy: 0.0000e+00 - mae: 16.4464 - val_loss: 16.7438 - val_accuracy: 0.0000e+00 - val_mae: 16.7438
Epoch 43/50
684/684 [==============================] - 1s 1ms/step - loss: 16.3193 - accuracy: 0.0000e+00 - mae: 16.3193 - val_loss: 16.3734 - val_accuracy: 0.0000e+00 - val_mae: 16.3734
Epoch 44/50
684/684 [==============================] - 1s 1ms/step - loss: 16.2390 - accuracy: 0.0000e+00 - mae: 16.2390 - val_loss: 16.6153 - val_accuracy: 0.0000e+00 - val_mae: 16.6153

Epoch 45/50
684/684 [==============================] - 1s 1ms/step - loss: 16.2181 - accuracy: 0.0000e+00 - mae: 16.2181 - val_loss: 16.2197 - val_accuracy: 0.0000e+00 - val_mae: 16.2197
Epoch 46/50
684/684 [==============================] - 1s 1ms/step - loss: 16.1127 - accuracy: 0.0000e+00 - mae: 16.1127 - val_loss: 16.1443 - val_accuracy: 0.0000e+00 - val_mae: 16.1443
Epoch 47/50
684/684 [==============================] - 1s 1ms/step - loss: 16.0108 - accuracy: 0.0000e+00 - mae: 16.0108 - val_loss: 16.2060 - val_accuracy: 0.0000e+00 - val_mae: 16.2060
Epoch 48/50
684/684 [==============================] - 1s 1ms/step - loss: 15.9418 - accuracy: 0.0000e+00 - mae: 15.9418 - val_loss: 16.1824 - val_accuracy: 0.0000e+00 - val_mae: 16.1824
Epoch 49/50
684/684 [==============================] - 1s 1ms/step - loss: 15.8803 - accuracy: 0.0000e+00 - mae: 15.8803 - val_loss: 15.9587 - val_accuracy: 0.0000e+00 - val_mae: 15.9587
Epoch 50/50
684/684 [==============================] - 1s 1ms/step - loss: 15.8184 - accuracy: 0.0000e+00 - mae: 15.8184 - val_loss: 15.8852 - val_accuracy: 0.0000e+00 - val_mae: 15.8852